/*********************
COLORS

Theme: Moon Landing
https://kuler.adobe.com/#myKuler/themes
*********************/
$ml-beige: 			#FAFAC6;
$ml-gray:			#BAC0AC;
$ml-grayblue:		#98A89E;
$ml-orange:			#FF4411;
$ml-red:			#D40015;

/* generic */
$light-gray:		#E6E6E6;



/* Legacy colors */
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;
$black:             #000;
$white:             #fff;
$bones-pink:        #f01d4f;
$bones-blue:        #1990db;
$link-color:		#4C87DF;
$off-white:		#FCFEEF;

.tmp {
	color:			#E6E6E6;
}
	