@import "normalize/normalize";
@import "compass";
@import "colors";
//@import "dev";


// BASE
// ------------------------------
body {
	background-color:#eeeeee;
}
#container {
	width: 100%;
	background-color: #ffffff;
}

// HEADER
// ------------------------------
header {
	display:table;
	border-collapse: separate;
	border-spacing: 1em 0.5em;
	background-color:#eeeeee;
	width:100%;
	//border-bottom: 1px solid $block-divider;
	//margin: 0 1em;

	.table-row {
		display:table-row;

		.logo {
			display:table-cell;
			vertical-align: middle;
			padding-top:.25em;
			width:3.5em;

			img {
				width: 100%;
				height: auto;
			}
		}

		h1 {
			display:table-cell;
			vertical-align: middle;
			font-size: 1.3em;
		}
	}
} //header
	



// CONTENT
// ------------------------------
#content {
	padding:1em 2em 0 1em;
	margin-bottom: 2em;
	//padding:0;
	overflow:hidden; // prevent horizontal scrolling in mobile safari
}

// FOOTER
// ------------------------------

footer {
	border-top: 1px solid $block-divider;
	text-align: center;
	margin: 0 1em;  //shorthand: top/bottom, left/right

	p {
		margin-top: 0;
		margin-bottom:0;
		padding: .5em 0;
		font-size: .7em;
	}
}


// FORMS
// ------------------------------

input, textarea {
	width:100%;
	padding:.3em;
	font-size: 1.2em;
	margin-bottom: .75em;
}

label.spam_answer {
	margin-bottom: .3em;
	display: block;
}


.help {
	//margin-top: .5em;
	margin-left:.3em;
	font-size: .95em;
	font-style: italic;
	color:#666666;
}

// LISTS
// ------------------------------

ul.inline, ol.inline {
	margin-top: 1em;

	li {
		display: inline-block;
		margin-left: .2em;
		//font-size: smaller;
		padding-right: .4em;
		border-right: 1px solid #999999;
		
		&:first-child{
			margin-left:0;
		}
		&:last-child{
			border-right:none;
		}
	}
}

// FORM ERRORS
// ------------------------------
.errors_header {
	//margin-top:0;
	margin-bottom: 1em;
	font-style: italic;
	color:$form-error;
	
	ul li span {

	}

}


//tablet and larger
@media all and (min-width: 30em) {

	body {
		overflow:none;
	}

	#container {
		width: 30em;
		border: 1px solid #ccc;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
		overflow:hidden;
	}


} // @media all and (min-width: 30em)