@import "normalize/normalize";
@import "compass";
@import "colors";
//@import "dev";


// BASE
// ------------------------------
body {
	//background-color:#eeeeee;
	//background-color: #dfcda9;
	background-color: #f7f6f4;
	color: #71604e;
}
#container {
	width: 100%;
	background-color: #ffffff;
	padding-bottom: 3em;
}

p {
	margin-top: .5em;
	margin-bottom: .5em;
}

// HEADINGS
// ------------------------------

h2 {
	font-size:1em;
	margin-bottom:0;
	margin-top: .5em;
}

// HEADER
// ------------------------------
header {
	display:table;
	border-collapse: separate;
	border-spacing: 1em 0.5em;
	background-color:#eeeeee;
	//background-color: #dfcda9;
	width:100%;
	//border-bottom: 1px solid $block-divider;
	//margin: 0 1em;

	.table-row {
		display:table-row;

		.logo {
			display:table-cell;
			vertical-align: middle;
			padding-top:.25em;
			width:3.5em;

			img {
				width: 100%;
				height: auto;
			}
		}

		h1 {
			display:table-cell;
			vertical-align: middle;
			font-size: 1.35em;
			//letter-spacing: .01em;
		}
	}
} //header
	



// CONTENT
// ------------------------------
#content {
	padding:1em 2em 0 1em;
	margin-bottom: 2em;
	//padding:0;
	overflow:hidden; // prevent horizontal scrolling in mobile safari
}

.flash {
	display:block;
	width:100%;
	margin:0;
	font-style:italic;
	//background-color: #e5e76f;
}

// FOOTER
// ------------------------------

footer {
	border-top: 1px solid $block-divider;
	text-align: center;
	margin: 0 1em;  //shorthand: top/bottom, left/right

	p {
		margin-top: 0;
		margin-bottom:0;
		padding: .5em 0;
		font-size: .7em;
	}
}


// FORMS
// ------------------------------

form {

	.email-error-message, .spam-error-message {
		display:none;
	}
	.field-group {
		margin-bottom: .75em;
	}
		input, textarea {
		width:100%;
		padding:.3em;
		font-size: 1.2em;
		display: block;
	}

	label.spam_question {
		margin-bottom: .3em;
	}

	// 	#suggestion_spam_answer {
	// 	display: inline;
	// 	width:3em;
	// }


	.help, .help a {
		display: inline;
		margin-left:.2em;
		font-size: .85em;
		font-style: italic;
		color:#666666;
		//text-decoration: none;
	}

	.error-message {
		margin-top: 0;
		//padding-left:.4em;
		//margin-left:.3em;
		font-size: .95em;
		font-style: italic;
		color:$form-error;
	}
} //form

// FORM ERRORS
// ------------------------------
// .errors_header {
// 	//margin-top:0;
// 	margin-bottom: 1em;
// 	font-style: italic;
// 	color:$form-error;
	
// 	ul li span {

// 	}

// }


// LISTS
// ------------------------------

ul.inline, ol.inline {
	margin-top: 1em;

	li {
		display: inline-block;
		margin-left: .2em;
		//font-size: smaller;
		padding-right: .4em;
		border-right: 1px solid #999999;
		
		&:first-child{
			margin-left:0;
		}
		&:last-child{
			border-right:none;
		}
	}
}

//tablet and larger
@media all and (min-width: 25em) {

	body {
		overflow:none;
	}

	#container {
		width: 30em;
		border: 1px solid #ccc;
		margin-top: 1em;
		margin-left: auto;
		margin-right: auto;
		overflow:hidden;
		@include border-radius(15px);
		padding-bottom: .5em;

		header {

			h1 {
				font-size: 1.5em;
			}
		}
	}	
} // tablet and larger

