%h1 Reset your password - step 1: Send a password reset email
= form_tag password_resets_path, :method => :post do
	.field
		= label_tag :email
		= text_field_tag :email, params[:email]
	.actions
		= submit_tag "Send Password Reset Email" 