= render 'layouts/header'
%p#notice= notice
%p
  = link_to "Post a new suggestion", new_suggestion_box_suggestion_path(@suggestion_box)
%p
  Show a list of what's currently in the suggestion box, possibly with options to +1 and add a comment