<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @suggestion_box.name %>
</p>


<%= link_to 'Edit', edit_suggestion_box_path(@suggestion_box) %> |
<%= link_to 'Back', suggestion_boxes_path %>
