<div class="container">
    <div class="centered-box">
      <h1>Thanks!</h1>
      <!-- <h2>A Social Suggestion Box</h2> -->
      <!-- <div class="callout-box"> -->
        <p class="margin-bottom">We've added "<%= @user.email %>" to the ChirpyBox mailing list. We'll be in touch!</p>
        
       <!-- </div> --><!-- .callout-box -->
    </div><!-- #landing-notice centered-box -->
  </div><!-- .centered-box-container -->
<!-- </div>  --><!-- .landing-page -->
