
 
<div class="container">
    <div class="centered-box">
      <h1>ChirpyBox</h1>
      <h2>A Social Suggestion Box</h2>
      <!-- <div class="callout-box"> -->
        <p class="margin-bottom">We're still hammering together our first few Chirpyboxes. Want us to let you know when we're ready to make one for you?</p>
        <%= form_for(@user) do |f| %>
        <div class="field">
            <%= f.text_field :email, placeholder:"your@email.com", class:"signup-text-field" %> <%= f.submit 'Let me know!', class:"submit-button" %>
             <% if @user.errors.any? %>
        <div class="error-messages">
          <!-- <h2><%# pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2> -->
        <!--   <ul> -->
            <% @user.errors.full_messages.each do |msg| %>
           <%= msg %>
            <% end %>
        <!--   </ul> -->
        </div>
        <% end %>

          </div><!-- .field -->
      <% end %>
       <!-- </div> --><!-- .callout-box -->
    </div><!-- #landing-notice centered-box -->
  </div><!-- .centered-box-container -->
<!-- </div>  --><!-- .landing-page -->