header {
	//position: relative;
	background-color: #eee;

	#title {
		//position: absolute;
		//top:15px;
		//left: 15px;
		//overflow: hidden;
		width: 600px;

		h1 {
			display: inline-block;
		}
	}

	#user {
		float: right;
		width: 150px;
		font-size: smaller;

	}
}

#content {
	//margin-top: 100px;
}