/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*********************
COLORS

Theme: Moon Landing
https://kuler.adobe.com/#myKuler/themes
*********************/
/* generic */
/* Legacy colors */
/* line 30, ../../../sass/_colors.scss */
.tmp {
  color: #E6E6E6;
}

/*Lets start with the cloud formation rather*/
/*The container will also serve as the SKY*/
/* line 5, ../../../sass/_clouds.scss */
body {
  /*To hide the horizontal scroller appearing during the animation*/
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 12, ../../../sass/_clouds.scss */
#clouds {
  margin-top: -20px;
  background: #c9dbe9;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, white 100%);
  background: -linear-gradient(top, #c9dbe9 0%, white 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, white 100%);
}

/*Time to finalise the cloud shape*/
/* line 22, ../../../sass/_clouds.scss */
.cloud {
  width: 200px;
  height: 60px;
  background: #fff;
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  position: relative;
}

/* line 33, ../../../sass/_clouds.scss */
.cloud:before, .cloud:after {
  content: '';
  position: absolute;
  background: #fff;
  width: 100px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

/* line 49, ../../../sass/_clouds.scss */
.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

/*Time to animate*/
/* line 55, ../../../sass/_clouds.scss */
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
/* line 62, ../../../sass/_clouds.scss */
.x2 {
  left: 200px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6;
  /*opacity proportional to the size*/
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

/* line 77, ../../../sass/_clouds.scss */
.x3 {
  left: -250px;
  top: -200px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

/* line 90, ../../../sass/_clouds.scss */
.x4 {
  left: 470px;
  top: -250px;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

/* line 103, ../../../sass/_clouds.scss */
.x5 {
  left: -150px;
  top: -150px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

/* line 116, ../../../sass/_clouds.scss */
.x6 {
  left: 150px;
  top: 500px;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.9;
  /*opacity proportional to the size*/
  -webkit-animation: moveclouds 19s linear infinite;
  -moz-animation: moveclouds 19s linear infinite;
  -o-animation: moveclouds 19s linear infinite;
}

@-webkit-keyframes moveclouds {
  /* line 130, ../../../sass/_clouds.scss */
  0% {
    margin-left: 1000px;
  }

  /* line 131, ../../../sass/_clouds.scss */
  100% {
    margin-left: -1000px;
  }
}

@-moz-keyframes moveclouds {
  /* line 134, ../../../sass/_clouds.scss */
  0% {
    margin-left: 1000px;
  }

  /* line 135, ../../../sass/_clouds.scss */
  100% {
    margin-left: -1000px;
  }
}

@-o-keyframes moveclouds {
  /* line 138, ../../../sass/_clouds.scss */
  0% {
    margin-left: 1000px;
  }

  /* line 139, ../../../sass/_clouds.scss */
  100% {
    margin-left: -1000px;
  }
}

/* line 1, ../../../sass/_dev.scss */
#debug {
  font: 12px monospace;
  background-color: white !important;
  color: black;
  border-top: 1px solid #eee;
  text-align: left;
  margin-top: 10px;
  clear: both;
  float: left;
  width: 100%;
  padding-top: 10px;
  margin-left: 5px;
  -webkit-box-sizing: border_box;
  -moz-box-sizing: border_box;
  box-sizing: border_box;
}

/* line 21, ../../../sass/screen.scss */
.container {
  width: 100%;
}
/* line 25, ../../../sass/screen.scss */
.container .centered-box {
  position: absolute;
  top: 1em;
  left: 1.5em;
  right: 1.5em;
  bottom: 1.5em;
}

/* line 37, ../../../sass/screen.scss */
.display-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

/* line 42, ../../../sass/screen.scss */
.table-row {
  display: table-row;
}

/* line 46, ../../../sass/screen.scss */
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 50, ../../../sass/screen.scss */
.table-cell-submit {
  width: 7.5em;
}

/* line 54, ../../../sass/screen.scss */
.table-cell-field {
  min-width: 7.5em;
  max-width: 100%;
}

/* line 59, ../../../sass/screen.scss */
.footer-cell {
  border-spacing: 10px;
  font-size: .9em;
  vertical-align: middle;
  height: 50px;
}

/* line 66, ../../../sass/screen.scss */
footer {
  margin-top: 0px;
  font-size: 1.2em;
  color: #666666;
}

/* line 92, ../../../sass/screen.scss */
.landing-page {
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
}
/* line 95, ../../../sass/screen.scss */
.landing-page h1 {
  font: 4.5em 'Dancing Script', Georgia, Times, serif;
  color: #ff4411;
  margin-bottom: .15em;
}
/* line 101, ../../../sass/screen.scss */
.landing-page h2 {
  font-weight: bold;
  color: #666;
  font-size: 1.6em;
  margin-bottom: .25em;
}
/* line 108, ../../../sass/screen.scss */
.landing-page p {
  font-size: 1.35em;
  line-height: 1.3em;
  margin-bottom: .5em;
}

/* line 124, ../../../sass/screen.scss */
.signup-text-field {
  font-size: 1em;
  border: 2px solid #98A89E;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 80%;
}

/* line 135, ../../../sass/screen.scss */
.submit-button {
  width: 100%;
  margin-left: 5px;
  border: 1px solid #d82e00;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font: 1em bold arial, helvetica, sans-serif;
  text-align: center;
  padding: 11px 10px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  background-color: #FF4411;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4411), color-stop(100%, #d40015));
  background-image: -webkit-linear-gradient(top, #ff4411, #d40015);
  background-image: -moz-linear-gradient(top, #ff4411, #d40015);
  background-image: -ms-linear-gradient(top, #ff4411, #d40015);
  background-image: -o-linear-gradient(top, #ff4411, #d40015);
  background-image: linear-gradient(top, #ff4411, #d40015);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF4411, endColorstr=#D40015);
}

/* line 158, ../../../sass/screen.scss */
.submit-button:hover {
  cursor: pointer;
  border: 1px solid #aa2400;
  background-color: #FFDA24;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffda24), color-stop(100%, #d40015));
  background-image: -webkit-linear-gradient(top, #ffda24, #d40015);
  background-image: -moz-linear-gradient(top, #ffda24, #d40015);
  background-image: -ms-linear-gradient(top, #ffda24, #d40015);
  background-image: -o-linear-gradient(top, #ffda24, #d40015);
  background-image: linear-gradient(top, #ffda24, #d40015);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFDA24, endColorstr=#D40015);
}

/* line 169, ../../../sass/screen.scss */
.error {
  color: #ff4411;
  padding-top: 10px;
  font-size: 1.2em;
}

/* line 178, ../../../sass/screen.scss */
.error-messages {
  margin-top: .5em;
  clear: both;
  font-size: 1em;
  font-weight: bold;
  color: #cc0000;
}

/* line 186, ../../../sass/screen.scss */
.field_with_errors {
  display: inline;
}
/* line 189, ../../../sass/screen.scss */
.field_with_errors input {
  border: 2px solid #cc0000;
}

/* line 195, ../../../sass/screen.scss */
a, a:visited {
  color: #666666;
  text-decoration: none;
}
/* line 199, ../../../sass/screen.scss */
a:hover, a:visited:hover {
  color: black;
  background-color: transparent;
}

/* line 209, ../../../sass/screen.scss */
.inline {
  margin-top: 15px;
}
/* line 212, ../../../sass/screen.scss */
.inline li {
  display: inline-block;
  margin-left: 4px;
  font-size: smaller;
  padding-right: 10px;
  border-right: 1px solid #999999;
}
/* line 219, ../../../sass/screen.scss */
.inline li:first-child {
  margin-left: 0;
}
/* line 222, ../../../sass/screen.scss */
.inline li:last-child {
  border-right: none;
}
