      %h1
        Suggestions for Suggestion Box "#{@suggestion_box.name}"
      %table
        %tr
          %th Message
          %th
          %th
          %th
        - @suggestions.each do |suggestion|
          %tr
            %td= suggestion.suggestion_message
            %td/
          %td/
          %td/
      %br/
