<p>
  <b>Message:</b>
  <%= @suggestion.suggestion_message %>
</p>
<p>
  <!-- Will want to add this in the input form first <b>Name:</b> -->
  <%# @suggestion.member_name %>
</p>
<p>
  <!-- <b>Email:</b>
 -->  <%# @suggestion.member_email %>
</p>
<p>
  <b>Anonymous?</b>
  <%= @suggestion.anonymous_suggestion %>
</p>


<%= link_to 'Edit', edit_suggestion_box_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestion_box_suggestions_path %>
