%p
  - if @suggestion.anonymous_suggestion?
  Suggestion from an anonymous visitor:
  "
  = @suggestion.suggestion_message
  "
%hr
%p
  %b Anonymous?
  = @suggestion.anonymous_suggestion
= link_to 'Edit', edit_suggestion_box_suggestion_path(@suggestion)
|
\#{link_to 'Back', suggestion_box_suggestions_path}
